<div class="topbar"><a routerLink="/main" routerLinkActive="active"><img src="https://images.indianexpress.com/2021/01/myntra.png" ></a>
   
  <span><div class="checkout">
    <li class="step1">BAG</li>
    <div class="divider"></div>
    <li class="step2">ADDRESS</li>
    <li class="divider"></li>
    <li class="step3">PAYMENT</li>
  </div></span>

  <span> <div class="secure"><div><img src="https://constant.myntassets.com/checkout/assets/img/sprite-secure.png"></div> <div> 100% SECURE </div></div></span>
</div>

<div class="empty">
  <img src="https://constant.myntassets.com/checkout/assets/img/empty-bag.webp">
  <div class="light">Hey, it feels so light!</div>
  <div class="ntng">There is nothing in your bag. Lets add some items</div>
  <!-- <a routerLink="/wishlist" routerLinkActive="active"></a> -->
  <button (click)=onwishlist()>ADD ITEMS FROM WISHLIST</button>
</div>