html{
    font-family: 'sans-serif';
}
.topbar{
    font-family: 'sans-serif';
    img{
        height: 4rem;
        width: 6rem;
    }
    
    .has-search .form-control {
        padding-left: 2.375rem;
       
    }
    .has-search{
        img{
            position: absolute;
            width: 1.375rem;
            height: 1.375rem;
            text-align: center;
            line-height: 1.375rem;
            pointer-events: none;
            z-index: 2;
            display: block;
            margin-left: .5rem;
            margin-top: .2rem; 
       }
    }      
            
        input{
            width:30rem;
            height: 1.5rem;
            //background-image: url("" ) top left no-repeat;
        }
        
    
    .profile{
        img{
            display: block;
            height: 1rem;
            width: 1rem;
            margin-left: auto;
            margin-right: auto;
        }
        display: grid;
        text-align: center;
        font-size: .9rem;
    }
    .whishlist{
        img{
            display: block;
            height: 1rem;
            width: 1rem;
            margin-left: auto;
            margin-right: auto;
        }
        display: grid;
        text-align: center;
        font-size: .9rem;
    }
    .bag{
        img{
            display: block;
            height: 1.4rem;
            width: 1.4rem;
            margin-left: auto;
            margin-right: auto;
        }
        display: grid;
        text-align: center;
        font-size: .9rem;
    }
    font-weight:bolder; 
    align-items: center;
    color: black;   
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.main{
    font-family: lato
    ;
    display: grid;
    grid-template-columns: 20% 80% ;
    grid-gap:0.5rem;
    padding: 0;
    .nav{
        width: 0;
        margin: 0;
        Padding: 0;
        .filters{
           
            .color:after{
                position: absolute;
                box-sizing: border-box;  
                input:checked~.color{
                    border: none;
                    background-color: rgb(212, 12, 146);
                    background-image: initial;
                    background-position-x: initial;
                    background-position-y: initial;
                    background-size: initial;
                    // background-repeat-x: initial;
                    // background-repeat-y: initial;
                    background-attachment: initial;
                    background-origin: initial;
                    background-clip: initial;
                    background-color: rgb(255, 63, 108);

                }  
            }
            div{
                display: block;
            }
        }
        // input[type=checkbox ]:checked:after{
        //     background-color: rgb(235, 30, 156); 
        //     position: relative;
        //     float: left;
        // }
        // input[type=checkbox ]{
        //     visibility: hidden;
        // }
        // :hover input~ .filters{
        //     background-color: rgb(226, 43, 180);
        // }
        // input:active ~ .filters{
        //     background-color: rgb(226, 43, 180);
        // }
        // input:checked ~ .filters{
        //     background-color: rgb(226, 43, 180);
        // }
        // .filters:after{
        //     position: absolute;
        // }
        // input:checked ~ .filters:after{
        //     display:block;
        // }

        
    }
   
   
    ul{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        //flex-direction: column;
        margin: 0;
        padding:0;
        width : 50px;
        font: 500 100%/1.5 system-ui;
        .container{
            .column{
                img{
                    height: 18.75rem;
                    width: 17.2rem;
                    margin: 0;
                    padding: 0;
                } 
                font-size: 125%;
            }
            .description{
                font-size: 62.25%;
            }
            .pce{
                color: black;
                font-size: 93.75%;
            }
            .strick{
                font-size: 62.25%;
                text-decoration: line-through;
            }
            .off{
                color: red;
                font-size: 62.25%;
            }
            .rating{
                font-size: 93.75%;
                img{
                    width: 1.1rem;
                    height: 1.1rem;
                    
                }
            }
        }
    }
}


// @mixin structure(){
//     display: grid;
//     padding: 2rem; //rem means root em : 1rem = 16px
//     grid-template-rows: 300px 1fr;
//     grid-row: 1/3;
//     gap: 1rem;
//     align-items: center;
//     max-width: 400px;
//     margin: 0 auto;
    
// }

 // #evnt{
    //     background-color: rgb(170, 12, 104);
    // }

// h3{
//     color: cadetblue;
//     animation-name: glow;
//     animation-duration: 2s;
//     animation-iteration-count: infinite;
// }
// @keyframes glow{
//     from{text-shadow: 10px 0 20px #184a50;}
//     to{text-shadow: 20px 0 30px #226d75;}
// }

    