<div class="pbody">
    <div class="content">
        <div class="welcome">Welcome</div>
        <div class="email">To access account and manage orders</div>
    </div>
    <div>
        <div class="login">
             <a routerLink="/signup" routerLinkActive="active">login/ Signup</a>
        </div>
        <div class="links">
            <div class="info">"Orders"</div>
            <div class="info"> <a routerLink="/wishlist" routerLinkActive="active">"Wishlist"</a></div>
            <div class="info">"Gift Cards"</div>
            <div class="info">"Contact Us"</div>
            <div class="info">"Myntra Insider" <span class="superscript"> New</span></div>
        </div>
        <div class="links">
            <div class="info"> "Myntra Credit" </div>
            <div class="info">"Coupons"</div>
            <div class="info">"Saved Cards"</div>
            <div class="info">"Saved Addresses"</div>
        </div>
    </div>
</div>


